@model BetterBuys.ViewModels.ProductVM

<div class="product-item d-flex align-items-center">
    <img src="@Model.ImageUri" width="300" />
    <div>
        <h5>@Model.Name</h5>
        <form method="post">
            <label for="quantity" class="col-form-label mr-2">Quantity</label>
            <select class="form-select" id="quantity" name="quantity">
                @for (int i = 1; i < 51; i++)
                {
                    @if (i == Model.Quantity)
                    {
                        <option value=@i selected>@i</option>
                    }
                    <option value=@i>@i</option>
                }
            </select>
            <p class="price">$@string.Format("{0:n2}", Model.Price * Model.Quantity)</p>

            <button type="submit" asp-page-handler="Update" asp-route-productId="@Model.Id">Update</button>
            <button type="submit" asp-page-handler="Delete" asp-route-productId="@Model.Id" onclick="return confirm('Comfirm to Delete this item.')">Delete</button>
        </form>
    </div>
</div>