@model BetterBuys.ViewModels.ProductVM

<form method="post">
    <div class="card">
        <img class="card-img-top" src="@Model.ImageUri" alt="@Model.Name " />
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Add To Cart</button>
            <a asp-page="/Detail" asp-route-productId="@Model.Id" class="btn btn-primary">View Detail</a>
            <p class="card-text">@Model.Name</p>
            <p class="card-text">$@string.Format("{0:n2}", Model.Price)</p>
            <input type="hidden" asp-for="@Model.Id" name="id">
            <input type="hidden" asp-for="@Model.Name" name="name">
            <input type="hidden" asp-for="@Model.Price" name="price">
            <input type="hidden" asp-for="@Model.ImageUri" name="pictureUri">
        </div>
    </div>
</form>
