@model BetterBuys.ViewModels.ProductVM

<div class="product-item-img">
    <a asp-page="/Detail" asp-route-productId="@Model.Id">
        <img src="@Model.ImageUri" alt="@Model.Name" />
    </a>
</div>
<form class="product-item-form" asp-page="/Cart" method="post">
    <div class="product-item-text">
        <p class="product-item-name">@Model.Name</p>
        <p class="product-item-price">$@string.Format("{0:n2}", Model.Price)</p>
        <button type="submit" class="product-item-add-btn">Add To Cart</button>
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Name" name="name" />
        <input type="hidden" asp-for="@Model.Price" name="price" />
        <input type="hidden" asp-for="@Model.ImageUri" name="pictureUri" />
        <input type="hidden" asp-for="@Model.Quantity" name="quantity" value="1" />
    </div>
</form>


