@page
@model BetterBuys.Pages.Checkout.CheckoutModel

@{
    decimal total = Model.CalTotal(Model.productsInCart);
}

<div class="checkout-content-wrapper">
    <div class="wrapper content-checkout">
        <div class="row my-3">
            @*shipping address box*@
            <div class="col-lg-6">
                <form class="form pr-lg-5 pb-5 pb-lg-0" method="post">
                    <h5 class="checkout-subtitile">Shipping Address</h5>
                    <div class="input-control firstName">
                        <input type="text" asp-for="@Model.FirstName" name="firstName" id="firstName" placeholder="First Name" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                    <div class="input-control lastName">
                        <input type="text" asp-for="@Model.LastName" name="lastName" id="lastName" placeholder="Last Name" />
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    </div>
                    <div class="input-control address">
                        <input type="text" asp-for="@Model.Address" name="address" id="address" placeholder="Adress" />
                        <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    </div>
                    <div class="input-control apartment">
                        <input type="text" asp-for="@Model.Apartment" name="apartment" id="apartment" placeholder="Apartment (optional)" />
                        <span asp-validation-for="@Model.Apartment" class="text-danger"></span>
                    </div>
                    <div class="input-control city">
                        <input type="text" asp-for="@Model.City" name="city" id="city" placeholder="City" />
                        <span asp-validation-for="@Model.City" class="text-danger"></span>
                    </div>
                    @*<div class="d-flex">*@
                    <div class="input-control country">
                        <select asp-for="@Model.Country" name="country" class="countries" id="countryId">
                            <option value="">Select Country</option>
                            <option value="Canada">Canada</option>
                        </select>
                        <span asp-validation-for="@Model.Country" class="text-danger"></span>
                    </div>
                    <div class="input-control province">
                        <select asp-for="@Model.Province" name="province" class="provinces" id="provinceId">
                            <option value="">Select Province</option>
                            <option value="AB">Alberta</option>
                            <option value="BC">British Columbia</option>
                            <option value="MB">Manitoba</option>
                            <option value="NB">New Brunswick</option>
                            <option value="NL">Newfoundland and Labrador</option>
                            <option value="NS">Nova Scotia</option>
                            <option value="ON">Ontario</option>
                            <option value="PE">Prince Edward Island</option>
                            <option value="QC">Quebec</option>
                            <option value="SK">Saskatchewan</option>
                            <option value="NT">Northwest Territories</option>
                            <option value="NU">Nunavut</option>
                            <option value="YT">Yukon</option>
                        </select>
                        <span asp-validation-for="@Model.Province" class="text-danger"></span>
                    </div>
                    @*</div>*@
                    <div class="input-control postal">
                        <input type="text" asp-for="@Model.PostalCode" name="postalCode" id="postCode" placeholder="Postal Code" />
                        <span asp-validation-for="@Model.PostalCode" class="text-danger"></span>
                    </div>
                    <div class="input-control phone">
                        <input type="text" asp-for="@Model.Phone" name="phone" id="phone" placeholder="Phone" />
                        <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                    </div>
                    <h5 class="checkout-subtitile">Payment Method</h5>
                    <div class="input-control name">
                        <input type="text" asp-for="@Model.CardHolderName" name="cardHolderName" id="name" placeholder="Cardholder Name" />
                        <span asp-validation-for="@Model.CardHolderName" class="text-danger"></span>
                    </div>
         
                    <div class="input-control number">
                        <input type="text" asp-for="@Model.CardNumber" name="cardNumber" id="number" placeholder="Card Number" />
                        <span asp-validation-for="@Model.CardNumber" class="text-danger"></span>
                    </div>
                    <div class="input-control expirationDate">
                        <input type="text" asp-for="@Model.ExpirationDate" name="expirationDate" id="expirationDate" placeholder="Expiration Date mm/yyyy" />
                        <span asp-validation-for="@Model.ExpirationDate" class="text-danger"></span>
                    </div>
                    @*</div>*@
                    <div class="bottom">
                        <input class="btn bottom-btn submit-btn" type="submit" value="COMPLETE PURCHASE" id="complete" />
                        <a class="bottom-btn" asp-page="cart">RETURN TO CART</a>
                    </div>
                </form>
            </div>
            @*order box*@
            <div class="order-box col-lg-6">
                <h5 class="checkout-subtitile-order">Order Summary</h5>
                @foreach (var item in Model.productsInCart)
                {
                    <div class="order-summary">
                        <div class="checkout-product-img">
                            <img src="@item.ImageUri" width="80" />
                            <div class="checkout-product-quantity">@item.Quantity</div>
                        </div>
                        <div class="checkout-product-name"><p>@item.Name</p></div>
                        <p class="checkout-product-price">$@string.Format("{0:n2}", item.Price * item.Quantity)</p>
                    </div>
                }

                <div class="order-detail">
                    <div class="promo" method="post">
                        <label for="promo-code" class="form-label">Add a Discount Code</label>
                        <div class="discount-box d-flex">
                            <input type="text" id="promo-code" class="col-form-control" />
                            <button class="promo-btn">Apply</button>
                        </div>
                    </div>
                    <div class="checkout-subtotal">
                        <p>Subtotal</p>
                        <p> $@string.Format("{0:n2}", total)</p>
                    </div>
                    <div class="checkout-delivery">
                        <p>Shipping</p>
                        <p>$8.00</p>
                    </div>
                    <div class="checkout-total">
                        <h5>Total</h5>
                        <h5>$@string.Format("{0:n2}", total + 8)</h5>
                    </div>
                    <small class="checkout-condition">Price and shipping costs are not confirmed until you've reached checkout</small>
                </div>
            </div>
        </div>
    </div>
</div>
