<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BetterBuys</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="top-nav">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/images/header-logo.png" alt="Logo" />
            </a>
            <div class="nav-icons">
                <ul class="d-flex">
                    <partial name="_LoginPartial" />
                    <li class="nav-item cart-icon-cotainer">
                        <a href="~/cart" class="nav-link">
                            <i class="fas fa-shopping-cart"></i>
                            @if (Model.ProductIndex.TotalQuantity != 0)
                            {
                                <span class="badge badge-danger" id="cartCount">@Model.ProductIndex.TotalQuantity</span>
                            }
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <partial name="_NavbarIndex" for="@Model" />
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="footer-left">
                <img src="~/images/footer-logo.png" alt="Footer logo" />
                <div class="address-container">
                    <p class="address">1289 Johnson Street</p>
                    <p class="region">Vancouver, BC, V3L 1B6</p>
                </div>
            </div>
            <div class="footer-right">
                <div class="subscription">
                    <b>Get on the list</b>
                    <p>Sign up for our newest products and discounts</p>
                    <div class="sub-input-container">
                        <input type="email" placeholder="Enter email address" />
                        <button class="fas fa-arrow-right"></button>
                    </div>
                </div>
                <div class="footer-other">
                    <div class="contact">
                        <b>Get in touch</b>
                        <p class="hours">Mon - Fri: 8 am - 4 pm</p>
                        <div class="phone">
                            <i class="fas fa-phone-alt"></i><span>1.866.322.1255</span>
                        </div>
                        <div class="email">
                            <i class="fas fa-envelope"></i><span>betterbuys@gmail.com</span>
                        </div>
                    </div>
                    <div class="help">
                        <b>Help</b>
                        <a asp-page="">Shipping & Returns</a>
                        <a asp-page="">Gift Cards</a>
                        <a asp-page="">Exchanges</a>
                        <a asp-page="">Care & Assembly</a>
                    </div>
                    <div class="about">
                        <b>About</b>
                        <a asp-page="">About Us</a>
                        <a asp-page="">Partners</a>
                        <a asp-page="">Presss</a>
                        <a asp-page="">Careers</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/c2e09ec5b1.js" crossorigin="anonymous"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>

