<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BetterBuys</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="top-nav">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/images/logo3.png" alt="Logo" />
            </a>
            <div class="nav-icons">
                <ul class="d-flex">
                    <partial name="_LoginPartial" />
                    <li class="nav-item cart-icon-cotainer">
                        <a href="~/cart" class="nav-link">
                            <i class="fas fa-shopping-cart"></i>
                            @if (Model.ProductIndex.TotalQuantity != 0)
                            {
                                <span class="badge badge-danger" id="cartCount">@Model.ProductIndex.TotalQuantity</span>
                            }
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <partial name="_NavbarIndex" for="@Model" />
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <aside id="followcolumn">
                        <i class="fab fa-facebook-square"></i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <i class="fab fa-instagram"></i>&nbsp; &nbsp; &nbsp; &nbsp;
                        <i class="fab fa-twitter-square"></i>&nbsp; &nbsp; &nbsp; &nbsp;
                        <i class="fab fa-youtube"></i><br /><br />
                        <i class="fas fa-map-marker-alt"><p style="font-size: 20px;">555 Seymore Stree, Vancouver, BC, Canada</p></i> <br />
                        <i class="fas fa-phone-square"><p style="font-size: 20px;">+1-778-123-0012</p></i><br />
                        <i class="fas fa-envelope"><p style="font-size:20px;">www.betterbuysca@hotmail.com</p></i>
                    </aside>
                </div>
                <div class="col-lg-4">
                    <h3 style="color:white;">BetterBuys</h3><br /><br /><br />
                    <a href="#">About Us</a>&nbsp; &nbsp;
                    <a href="#">Services</a>&nbsp; &nbsp;
                    <a href="#">Careers</a>&nbsp; &nbsp;
                    <a href="#">Get In Touch</a><br /><br />
                    &copy; 2020 - BetterBuys
                </div>
                <div class="col-lg-4" id="contact">
                    <h3 style="color:white;"> Contact Us</h3>
                    <form class="form-inline">
                        <input class="form-control" type="text" placeholder="Enter Email" />
                    </form>
                    <form class="form-inline" style="padding-top: 20px;">
                        <textarea id="submitform" cols="50"></textarea>
                    </form><br />
                    <button class="btn btn-success" type="submit" id="footerbtn">Send Message</button>
                </div>
            </div>


        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/c2e09ec5b1.js" crossorigin="anonymous"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>

